# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Data files
stormshield/data/
stormshield/backend/modules/prediction/artifacts/
